@use "./colors" as *;

@mixin burgerBars {
	position: absolute;
	right: 0;
	height: 3px;
	content: "";
	background-color: $pure-white;
	transition: width 0.3s;
}

@mixin heroImage ($bgImg){
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: $blue-gradient, url($bgImg);
}

@mixin cardPosition{
  position: absolute;
  left: 50%;
  translate: -50% 0;
}

@mixin contactForm{
  margin-bottom: 1em;
  padding: 0.5em 1em;
  border:none;
  border-radius: 8px;
  font-size: 1.6rem;
}







// @mixin heroImages($bgImg) {
// 	background-image: $blue-gradient, url($bgImg);
// 	background-size: cover;
// 	background-position: center;
// 	background-attachment: fixed;
// }
