@use "./colors" as *;

@mixin burgerBars {
	position: absolute;
	right: 0;
	height: 3px;
	content: "";
	background-color: $pure-white;
	transition: width 0.3s;
}


@mixin heroImage ($bgImg){
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url($bgImg), $blue-gradient;

}








// @mixin heroImages($bgImg) {
// 	background-image: $blue-gradient, url($bgImg);
// 	background-size: cover;
// 	background-position: center;
// 	background-attachment: fixed;
// }
