*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body{
  height: 100vh;
  background-color: #333;
  font-family: "Dancing Script", "Open Sans", sans-serif;
}