@use"./reset";
@use"./colors" as *;
@use"./mixins" as *;

// ============================


// ============ NAV ============

.burger-btn{
  position: fixed;
  top: 20px;
  right: 30px;
  padding: 1em;
  background: none;
  // background-color: blue;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 100;


  &:focus{
    outline:none;
    border: 1px solid rgba(255,255,255, .5);
    border-radius: 4px;
  }

  &__box{
    position: relative;
    height: 30px;
    width: 40px;
  }

  &__bars, &__bars::before, &__bars::after{
    @include burgerBars;
  }

  &__bars{
    width: 100%;

    
    &::before{
      top: 13px;
      width: 60%;
    }
    
    &::after{
      top: 27px;
      width: 30%;
      transition-delay: .1s;
    }
  }

  &:hover{
    .burger-btn__bars::before,
    .burger-btn__bars::after{
      width: 100%;
    }
  }

}
