@use "./reset";
@use "./colors" as *;
@use "./mixins" as *;
@use "./components";
@use "./animation";

// ============================

// ============ NAV ============

.nav{
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  translate: 100% 0%;
  background-image: $blue-gradient-solid;
  z-index: 100;
  transition: translate .5s;

  &--active{
    translate: 0 0;
  }

  &__item{
    position: relative;
    display: block;
    margin: .5em 0;
    padding: 0.5em;
    font-size: 2.5rem;
    color: $pure-white;
    text-decoration: none;

    &::before{
      position: absolute;
      content:'';
      top: 0;
      left: 0;
      width: 3px;
      height: 100%;
      background-color: $pure-white;
      scale: 1 0;
      transition: scale .3s;
    }

    &:hover::before{
      scale: 1 1;
    }
  }


}

.burger-btn {
	position: fixed;
	top: 20px;
	right: 30px;
	padding: 0.7em;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 100;

	&:focus {
		outline: none;
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 4px;
	}

	&__box {
		position: relative;
		height: 30px;
		width: 40px;
	}

	&__bars,
	&__bars::before,
	&__bars::after {
		@include burgerBars;
	}

	&__bars {
		width: 100%;

		&::before {
			top: 13px;
			width: 60%;
		}

		&::after {
			top: 27px;
			width: 30%;
			transition-delay: 0.1s;
		}
	}

	&:hover {
		.burger-btn__bars::before,
		.burger-btn__bars::after {
			width: 100%;
		}
	}
}


// ======================== HEADER =============================

.header {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2em;
	height: 70vh;
	text-align: center;
	color: $pure-white;
	@include heroImage("/Tropical_Island/img/header_island_small.jpg");
	background-attachment: scroll;
  // z-index: 0;


	&__heading {
		margin-bottom: 1rem;
		font-family: "Dancing Script", cursive;
		font-size: 4rem;
		font-weight: 300;
	}

	&__text {
		margin-bottom: 1rem;
		font-size: 1.8rem;
	}

	&__btn {
		margin-top: 3em;
		padding: 0.5em 1em;
		font-size: 1.6rem;
		font-weight: bold;
		background-color: $pure-white;
		color: $dark;
		border: none;
		border-radius: 10px;
		text-decoration: none;
		text-transform: uppercase;
		cursor: pointer;

		&::before {
			background-color: $light-white;
		}
	}
}


// ===================== @MEDIA=================

@media (width >= 768px){

  .white-block{
    height: 50px;
    width: 45%;
  }

  .header{

    &__heading{
      font-size: 6rem;
    }

    &__text{
      font-size: 2.2rem;
    }

    &__btn{
      font-size: 2rem;
    }
  }

  .section-title{
    font-size: 3.8rem;
  }

  .section-padding{
    padding: 8em 4em;
  }
}

@media (width >=992px){

  .burger-btn{
    top: 50px;
    right: 50px;
  }

  .header{
    background-image: $blue-gradient, url('/Tropical_Island/img/header_island_big.jpg');
  }

    .section-title{
    font-size: 4.2rem;
  }

  .section-padding{
    padding: 10em 6em;
  }

}
