@use"./reset";
@use"./colors" as colors;
@use"./mixins";

// =======================


// ============ NAV ============

.burger-btn{
  position: fixed;
  top: 20px;
  right: 30px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
}